{% extends "template.html" %}
{% block conteudo %}
<form  class="formularioContato" action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">

  <figure class="img thumbnail col-md-4 formularioImagem">
    <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=img_contato) }}">
    <figcaption>
      <label class="fileContainer">
        Mudar Capa
        <input type="file" name="arquivo" accept=".jpg">
      </label>
    </figcaption>
  </figure>
        
        <fieldset>
          {{ form.csrf_token() }}
          <input type="hidden" name="id" value="{{ id }}">
          <div class="form-group inputBox">
             {{form.nome.label(class="form-label")}}
             {{form.nome(class="form-control")}}
           </div>
 
           <div class="form-group inputBox">
             {{form.apelido.label(class="form-label")}}
             {{form.apelido(class="form-control")}}
           </div>
 
           <div class="form-group inputBox">
             {{form.telefone.label(class="form-label")}}
             {{form.telefone(class="form-control")}}
           </div>
 
           <div class="form-group inputBox">
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
           </div>
 
           <div class="form-group buttons">
            {{form.salvar(class="btn btn-primary")}}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
           </div>
        </fieldset>
      </form>
{% endblock %}